/*
Thnk you page begins
========================
start
*/
body {
    background-color:gray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.thank-you-box {
    background-color:whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px burlywood;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
}
.thank-you-box h1 {
    color: wheat;
    margin-bottom: 20px;
}
.thank-you-box p {
    font-size: 18px;
    margin-bottom: 30px;
}
.thank-you-box .btn {
    background-color: lightgray;
    color:beige;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.thank-you-box .btn:hover {
    background-color:goldenrod;
}
/*Thank you page ends
========================
end
*/
